/* General Styles */
/* Apply to all sizes */
*, *:before, *:after {box-sizing: border-box; padding: 0; margin: 0;}


/* Add Breakpoints Here */
/* Apply to certain size and above */


/* Mobile Styles */
@media only screen and (max-width: 600px) {
    body {
        padding: 0; margin: 0;
        font-family: sans-serif;
        background-color: lightcoral;
    }
    
    h2 {
        width: 450px;
        padding: 20px 0 20px 0;
    }
    
    form {
        flex-direction: column;
    }

    .top_section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main_container {
        padding-top: 200px;
    }
    
    .flex_center {
        display: flex;
        justify-content: center;
    }
    
    .header {
        background-color: white;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        display: flex;
        width: 100%;
    }

    .header a {
        text-decoration: none;
        color: black;
    }
    
    .trombone {
        width: 100%;
        height: 100%;
        max-width: 90%;
    }

    .logo {
        padding-top: 20px;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }
    
    a {
        padding: 5px 0 5px 0;
    }
    
    .top_section {
        flex-direction: column;
    }
    
    input[type='email'] {
        border-radius: 1px;
        border: solid 1px gray;
        border-radius: 2px;
        margin-bottom: 15px;
        padding: 5px 100px 5px 5px;
    }

    input[type='submit'] {
        background-color: #fcc603;
        font-size: 1.1em;
        font-weight: 900;
        border: none;
        padding: 5px 20px 5px 20px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 800px) {
    body {
        font-family: sans-serif;
        background-color: lightgreen;
  }
    
    h2 {
        width: 450px;
        padding: 20px 0 20px 0;
    }

    nav {
        width: 35vw;
        align-items: center;
        flex-direction: column;
    }
    
    form {
        flex-direction: column;
    }

    .top_section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .header {
        background-color: white;
        position: fixed;
        justify-content: space-between;
        display: flex;
        width: 100%;
    }

    .header a {
        text-decoration: none;
        color: black;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    
    .trombone {
        max-width: 500px;
    }

    nav a {
        padding: 0 5px 0 5px;
    }

    .main_container {
        padding-top: 50px;
    }
    
    .flex_center {
        display: flex;
        justify-content: center;
    }
    
    input[type='email'] {
        border-radius: 1px;
        border: solid 1px gray;
        border-radius: 2px;
        margin-bottom: 15px;
        padding: 5px 100px 5px 5px;
    }

    input[type='submit'] {
        background-color: #fcc603;
        font-size: 1.1em;
        font-weight: 900;
        border: none;
        padding: 5px 20px 5px 20px;
    }
  }

/* Desktop Styles */
@media only screen and (min-width: 801px) {
    body {
        font-family: sans-serif;
        background-color: lightblue;
    }

    nav {
        width: 35vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    h2 {
        width: 450px;
        padding: 20px 0 20px 0;
    }
    
    form {
        flex-direction: column;
    }

    .top_section {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .header {
        background-color: white;
        position: fixed;
        justify-content: space-between;
        display: flex;
        width: 100%;
    }

    .header a {
        text-decoration: none;
        color: black;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    
    .trombone {
        max-width: 500px;
    }

    nav a {
        padding: 0 5px 0 5px;
    }

    .main_container {
        padding-top: 50px;
    }
    
    .flex_center {
        display: flex;
        justify-content: center;
    }
    
    .feature {
        padding-bottom: 50px;
        width: 70vw;
        flex-direction: column;
    }
    
    #feature_container {
        width: 60vw;
    }
    
    #features {
        flex-direction: column;
    }
    
    input[type='email'] {
        border-radius: 1px;
        border: solid 1px gray;
        border-radius: 2px;
        margin-bottom: 15px;
        padding: 5px 100px 5px 5px;
    }

    input[type='submit'] {
        background-color: #fcc603;
        font-size: 1.1em;
        font-weight: 900;
        border: none;
        padding: 5px 20px 5px 20px;
    }
  }